PORT=5000
MONGO_URI=mongodb+srv://samad5760279_db_user:bQ1LAK7yGwC4T5LZ@mern-blog-pro.hh4ch01.mongodb.net/?appName=mern-blog-pro
JWT_SECRET=mernblogsupersecret
CLIENT_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=ddpdc4wam
CLOUDINARY_API_KEY=911184734448376
CLOUDINARY_API_SECRET=v-erI2rsH25UKzRWHHjN_Hhfiio